[submodule "imgui_ros/contrib/imgui"]
	path = imgui_ros/contrib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui_ros/contrib/implot"]
	path = imgui_ros/contrib/implot
	url = https://github.com/epezent/implot.git
